@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NexusMD</h1>
    <p class="lead">Welcome to Nexus MD, the next generation in Patient Managment Systems.</p>
</div>

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3>5</h3>
                <p>Doctors</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-plus"></i>
            </div>
            <a href="/Doctors/" class="small-box-footer">
                More Info <i class="fas fa-caret-right"> </i>
            </a>
        </div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'bootstrap'],
            themeSystem: 'bootstrap'
        });
        calendar.render();
        });
    </script>
}